[Unit]
Description=A virtual file system adapter for Azure Blob storage.
After=network-online.target
Requires=network-online.target
WorkingDirectory=/home/AzureUser/azure-storage-fuse
User=AzureUser

[Service]

# Configures the mountpoint.<path/to/the/mounting/point>
Environment=BlobMountingPoint=/home/AzureUser/mntblobfuse
# Configures the tmp location for the cache. Always configure the fastest disk (SSD or ramdisk) for best performance.
Environment=BlobTmp=/home/AzureUser/tmpblobfuse
# Config file path
Environment=BlobConfigFile=/home/AzureUser/azure-storage-fuse/connectionnarasubfuse.cfg

# Enables HTTPS communication with Blob storage. True by default. HTTPS must be if you are communicating to the Storage Container through OAuth.
Environment=BlobUseHttps=true
# Blobs will be cached in the temp folder for this many seconds. 120 seconds by default. During this time, blobfuse will not check whether the file is up to date or not.
Environment=BlobFileCacheTimeOutInSeconds=120
# Enables logs written to syslog. Set to LOG_WARNING by default. Allowed values are LOG_OFF|LOG_CRIT|LOG_ERR|LOG_WARNING|LOG_INFO|LOG_DEBUG
Environment=BlobLogLevel=LOG_DEBUG
# Enables attributes of a blob being cached. False by default. (Only available in blobfuse 1.1.0 or above)
Environment=BlobUseAttrCache=false

# Under the hood
Environment=attr_timeout=240
Environment=entry_timeout=240
Environment=negative_timeout=120
Type=simple
#ExecStart=/home/AzureUser/azure-storage-fuse/build/blobfuse /home/AzureUser/mntblobfuse --tmp-path=/home/AzureUser/tmpblobfuse --config-file=/home/AzureUser/azure-storage-fuse/connectionnarasubfuse.cfg --use-https=true --file-cache-timeout-in-seconds=20 --log-level=LOG_DEBUG --use-attr-cache=true -o attr_timeout=120 -o entry_timeout=120 -o negative_timeout=120 -o allow_other -d
#ExecStop=/usr/bin/fusermount -u /home/AzureUser/mntblobfuse
ExecStart=/home/AzureUser/azure-storage-fuse/build/blobfuse ${BlobMountingPoint} --tmp-path=${BlobTmp} --config-file=${BlobConfigFile} --use-https=true --file-cache-timeout-in-seconds=20 --log-level=LOG_DEBUG --use-attr-cache=true -o attr_timeout=120 -o entry_timeout=120 -o negative_timeout=120 -o allow_other -d
ExecStop=/usr/bin/fusermount -u ${BlobMountingPoint}

[Install]
WantedBy=multi-user.target
