[submodule "nfs/extern/libnfs"]
	path = nfs/extern/libnfs
	url = https://github.com/linuxsmiths/libnfs
[submodule "nfs/extern/yaml-cpp"]
	path = nfs/extern/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "nfs/extern/spdlog"]
	path = nfs/extern/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "nfs/extern/vcpkg"]
	path = nfs/extern/vcpkg
	url = https://github.com/microsoft/vcpkg.git
