# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
#ci trigger on every branch so that private branch owners know if they have broken the build
#ci trigger on PR only for the master branch
trigger:
  branches:
    include:
      - master
pr:
  branches:
    include:
      - dev
      - master

jobs:
  - job: Linux_Build    
    pool:
      vmImage: 'ubuntu-16.04'
    steps:
      - script: |
            sudo apt-get install pkg-config libfuse-dev cmake libcurl4-gnutls-dev libgnutls28-dev uuid-dev libgcrypt20-dev libboost-all-dev gcc g++ -y
            . ./build.sh
            mkdir $(Build.ArtifactStagingDirectory)/$(container_image)
            cp ./blobfuse $(Build.ArtifactStagingDirectory)/$(container_image)
            cp ../systemd/10-blobfuse.conf $(Build.ArtifactStagingDirectory)/$(container_image)
            cp ../systemd/blobfuse-logrotate $(Build.ArtifactStagingDirectory)/$(container_image)
            cp ./blobfusetests $(Build.BinariesDirectory)
            make package
            cp ./blobfuse-*.*.*-Linux.deb  $(Build.ArtifactStagingDirectory)/$(container_image)
        env:
          INCLUDE_TESTS: 1
        displayName: Generate blobfuse build for Ubuntu 16.04
      - script: |
            ls -al
            chmod 777 ./blobfusetests
            $(Build.BinariesDirectory)/blobfusetests --gtest_filter=-BlobClientWrapperTest.*
        workingDirectory: $(Build.BinariesDirectory)
        condition: succeededOrFailed()  
      - task: PublishBuildArtifacts@1
        displayName: 'Publish Artifacts for blobfuse $(container_image)'
        condition: succeededOrFailed()


  - job: Linux_Build_18_19
  
    strategy:
      maxParallel: 8
      matrix:
        UBUNTU1804:
          container_image: 'ubuntu-18.04'
          build_type: Release
        UBUNTU1904:
          container_image: 'ubuntu-19.04'
          build_type: Release
    pool:
      vmImage:  $(container_image)
    steps:
      - script: |
            sudo apt-get install pkg-config libfuse-dev cmake libcurl4-gnutls-dev libgnutls28-dev uuid-dev libgcrypt20-dev libboost-all-dev gcc g++ -y
            . ./build.sh
            mkdir $(Build.ArtifactStagingDirectory)/$(container_image)
            cp ./blobfuse $(Build.ArtifactStagingDirectory)/$(container_image)
            cp ../systemd/10-blobfuse.conf $(Build.ArtifactStagingDirectory)/$(container_image)
            cp ../systemd/blobfuse-logrotate $(Build.ArtifactStagingDirectory)/$(container_image)
            make package
            cp ./blobfuse-*.*.*-Linux.deb  $(Build.ArtifactStagingDirectory)/$(container_image)
        displayName: Generate blobfuse build for $(container_image)
      - task: PublishBuildArtifacts@1
        displayName: 'Publish Artifacts for blobfuse $(container_image)'
        condition: succeededOrFailed()

