accountName naradev
# Please provide either an account key or a SAS token, and delete the other line.
authType MSI
containerName testblobfuse

# Check README.md for valid configuration options for each auth type.