name: Benchmark
on:
  schedule:
    - cron: '0 4 * * SUN'
  push:
    branches:
      - main
      - vibhansa/*

jobs:
  X86_PerfTesting:
    strategy:
      max-parallel: 1
      matrix:
        TestType: ["premium", "standard"]
        # TestType: ["premium", "standard", "premium_hns", "standard_hns"]
            
    runs-on: [self-hosted, 1ES.Pool=blobfuse2-benchmark]
    timeout-minutes: 360

    permissions:
      id-token: write
      contents: write
      pages: write
    
    steps:
      # Checkout main branch
      - name: 'Checkout Blobfuse2'
        uses: actions/checkout@v4.1.1
        with:
          ref: ${{ github.ref }} # Checkout the branch that triggered the workflow

      - name: "X86 Perf Testing"
        uses: "./.github/template/perftesting"
        with:
          MACHINE: "X86"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          STANDARD_ACCOUNT: ${{ secrets.STANDARD_ACCOUNT }}
          PREMIUM_ACCOUNT: ${{ secrets.PREMIUM_ACCOUNT }}
          STANDARD_HNS_ACCOUNT: ${{ secrets.STANDARD_HNS_ACCOUNT }}
          PREMIUM_HNS_ACCOUNT: ${{ secrets.PREMIUM_HNS_ACCOUNT }}
          STANDARD_KEY: ${{ secrets.STANDARD_KEY }}
          PREMIUM_KEY: ${{ secrets.PREMIUM_KEY }}
          STANDARD_HNS_KEY: ${{ secrets.STANDARD_HNS_KEY }}
          PREMIUM_HNS_KEY: ${{ secrets.PREMIUM_HNS_KEY }}
          BENCH_CONTAINER: ${{ secrets.BENCH_CONTAINER }}

  Arm64_PerfTesting:
    needs: X86_PerfTesting

    strategy:
      max-parallel: 1
      matrix:
        TestType: ["premium", "standard"]
        # TestType: ["premium", "standard", "premium_hns", "standard_hns"]
            
    runs-on: [self-hosted, 1ES.Pool=blobfuse2-benchmark-arm]
    timeout-minutes: 360

    permissions:
      id-token: write
      contents: write
      pages: write
    
    steps:
      - name: 'Checkout Blobfuse2'
        uses: actions/checkout@v4.1.1
        with:
          ref: ${{ github.ref }} # Checkout the branch that triggered the workflow

      - name: "ARM64 Perf Testing"
        uses: "./.github/template/perftesting"
        with:
          MACHINE: "ARM"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          STANDARD_ACCOUNT: ${{ secrets.STANDARD_ACCOUNT }}
          PREMIUM_ACCOUNT: ${{ secrets.PREMIUM_ACCOUNT }}
          STANDARD_HNS_ACCOUNT: ${{ secrets.STANDARD_HNS_ACCOUNT }}
          PREMIUM_HNS_ACCOUNT: ${{ secrets.PREMIUM_HNS_ACCOUNT }}
          STANDARD_KEY: ${{ secrets.STANDARD_KEY }}
          PREMIUM_KEY: ${{ secrets.PREMIUM_KEY }}
          STANDARD_HNS_KEY: ${{ secrets.STANDARD_HNS_KEY }}
          PREMIUM_HNS_KEY: ${{ secrets.PREMIUM_HNS_KEY }}
          BENCH_CONTAINER: ${{ secrets.BENCH_CONTAINER }}

  